<!DOCTYPE html>
<html lang="en">
<head>
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>for more you can visit {{helpText}}</p>
    </div>
    {{>footer}}
</body>
</html>